.App {
  text-align: center;
}

body {
  font-family: 'nanumsquare';
}

div.black-nav {
  background-color: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}
div.list {
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
div.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
}
